In [7]:
for i in [1,2,3,4,5]:
    print(str(i)*i)
for i in [4,3,2,1]:
    print(str(i)*i)

1
22
333
4444
55555
4444
333
22
1

In [163]:
a = [1,2,3,4,5]
for row in a:
    for column in a:
        print()

1

In [195]:
for row in [1,2,3,4,5]:
    for column in range(1, row ):
        print(column, end=' ')
    print("")
for row in [4,3,2,1]:
    for column in range(1, row + 2):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2